<div style="margin-left: 98px; margin-top: 10px;">
    <!--button class="btn btn-danger" (click)="novoFuncionario()">Novo</button-->
    <table class="table table-striped" style="width: 1155px;">
      <thead style="background-color: crimson; color: cornsilk; text-align: center;">
      <tr>
        <th style="display: none; ">Id</th>
        <th>Nome</th>
        <th>Função</th>
        <th>Empresa</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody style="text-align: center;"> 
      <tr *ngFor="let func of funcionarios">
        <td style="display: none;">{{func.id}}</td>
        <td>{{func.nome}}</td>
        <td>{{func.funcao}}</td>
        <td>{{func.empresa}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteFuncionario(func)">Excluir</button>
          <button class="btn btn-danger" data-toggle="modal" data-target="#edtModal" (click)="editFuncionario(func)" style="margin-left: 20px;">Editar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- The Modal -->
<div class="modal" id="edtModal">
  <div class="modal-dialog">
    <div class="modal-content" style="margin-left: -395px; width: 1300px;">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Editar Funcionário</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <app-edit-funcionario></app-edit-funcionario>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>

    </div>
  </div>
</div>