<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; background-color: crimson; color: cornsilk">
  <h1>
    {{ title }}
  </h1>
  <br/>
  <hr/>
  <!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
</div>
<h2>Serviços </h2>
<ul>

  <div style="width: 180px; margin-left: -40px;">
      <div style="width: 147px; margin-left: 0px;background-color: crimson; color: cornsilk; text-align: center;">
          <span>Funcionario</span>
      </div>
      <br>
      <label><a [routerLink]="'/listFuncionario'" >{{sub_addFuncionario}}</a></label>
      <br><br>
      <a href="">{{sub_manterEmbarque}}</a>
             
  </div>
  <br/>
  <div style="width: 180px; margin-left: -40px;">
             
  </div>
  
</ul>

<router-outlet></router-outlet>
